<%= form_for object, :url => url, :method => method, :remote => true do |f| %>
    <%= f.text_area :message, :style => "max-height:250px; height:50px; width:100%; overflow:auto; resize:none;" %>
    <br/>
    <div class="post-actions">
      <%= f.submit "Post", :class => "btn btn-medium btn-primary pull-right", :style => "width: 30%;" %>
    </div>
<% end %>
