<div class="top-bar">
  <a id="topbar-brand" class="brand" href="<%= root_path %>">
    TalkyCloud
  </a>

  <ul class="top-notifications">
    <li>
      <a href="#messages" class="accordion-toggle" data-toggle="collapse" data-parent="#top-acc">
         Comments Waiting <span class="badge dark-blue">3</span>
      </a>

      <div class="collapsed" style="height: 0; overflow: visible;">
        <ul id="messages" class="collapse top-bar-list">
          <li><a href="#">New message</a></li>
          <li><a href="#">Inbox <span class="count">(8)</span></a></li>
          <li><a href="#">Sent</a></li>
          <li><a href="#">Drafts</a></li>
        </ul>
      </div>
    </li>

    <!--<li>-->
      <!--<a href="#orders" class="accordion-toggle" data-toggle="collapse" data-parent="#top-acc">-->
        <!--Orders <span class="badge dark-plum">45</span>-->
      <!--</a>-->

      <!--<div class="collapsed" style="height: 0; overflow: visible;">-->
        <!--<ul id="orders" class="collapse top-bar-list">-->
          <!--<li><a href="#">New orders <span class="count">(34)</span></a></li>-->
          <!--<li><a href="#">Refunds</a></li>-->
          <!--<li><a href="#">History</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</li>-->

  </ul>
</div>
