
<div class="search-result box">

  <h2>Archives by: &ldquo;Categories&rdquo;</h2>

  <p><a href="#">Edit</a> this entry</p>

</div>

<div id="archives" class="box clearfix">

  <h6 class="list-title">Categories</h6>

  <h6 class="list-title">Monthly Archives</h6>

  <h6 class="list-title last">Yearly Archives</h6>

  <span class="archive-trigger"><img src="/assets/collapse-button-up.png" alt="collapse-button" /></span>

  <div class="clear"></div>

  <div class="content">

    <hr class="full" />

    <ul>
      <li><a href="#">Photography</a></li>
      <li><a href="#">Private Portfolios</a></li>
      <li><a href="#">My Travels</a></li>
      <li><a href="#">Family Travel Guide</a></li>
      <li><a href="#">Fly&amp;Drive Guides</a></li>
      <li><a href="#">Tropical Destinations</a></li>
      <li><a href="#">Mountains Desctinations</a></li>
    </ul>

    <ul>
      <li><a href="#">December 2010</a></li>
      <li><a href="#">November 2010</a></li>
      <li><a href="#">October 2010</a></li>
      <li><a href="#">September 2010</a></li>
      <li><a href="#">August 2010</a></li>
      <li><a href="#">July 2010</a></li>
      <li><a href="#">June 2010</a></li>
    </ul>

    <ul class="last">
      <li><a href="#">2010</a></li>
      <li><a href="#">2009</a></li>
      <li><a href="#">2008</a></li>
      <li><a href="#">2007</a></li>
      <li><a href="#">2006</a></li>
      <li><a href="#">2005</a></li>
      <li><a href="#">2004</a></li>
    </ul>

  </div>

</div><!-- end #archives -->

<div class="search-result box">

  <h2>Results by: &ldquo;Categories Archives&rdquo;</h2>

</div><!-- end .search-result -->

<div class="entry">

  <div class="entry-header">

    <h2 class="title"><a href="/post">Texas Trip 2010: Abandoned ranch</a></h2>

    <p class="meta">Published on <a href="#">December 3, 2010</a> by <a href="#">YCB</a></p>

    <a href="/post" class="button">Read More...</a>

  </div><!-- end .entry-header -->

  <div class="entry-content">

    <a href="/post"><img src="/assets/sample-images/single-1.jpg" width="240" height="140" alt="" class="entry-image" /></a>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <a href="#">when an unknown</a> printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>

    <hr />

    <ul class="entry-links">
      <li><a href="#">Send to a Friend</a> <span class="separator">|</span></li>
      <li><a href="#">Share this /post</a> <span class="separator">|</span></li>
      <li><a href="#">41 Comments</a> <span class="separator">|</span></li>
      <li><a href="#">0 Tweets</a></li>
    </ul>

  </div><!-- end .entry-content -->

</div><!-- end .entry -->

<div class="entry">

  <div class="entry-header">

    <h2 class="title"><a href="/post">Brooklyn Bridge: it connect New York City</a></h2>

    <p class="meta">Published on <a href="#">November 29, 2010</a> by <a href="#">Jonathan Doe</a></p>

    <a href="/post" class="button">Read More...</a>

  </div><!-- end .entry-header -->

  <div class="entry-content">

    <a href="/post"><img src="/assets/sample-images/single-2.jpg" width="240" height="140" alt="" class="entry-image" /></a>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <a href="#">when an unknown</a> printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>

    <hr />

    <ul class="entry-links">
      <li><a href="#">Send to a Friend</a> <span class="separator">|</span></li>
      <li><a href="#">Share this /post</a> <span class="separator">|</span></li>
      <li><a href="#">3 Comments</a> <span class="separator">|</span></li>
      <li><a href="#">12 Tweets</a></li>
    </ul>

  </div><!-- end .entry-content -->

</div><!-- end .entry -->

<div class="entry">

  <div class="entry-header">

    <h2 class="title"><a href="/post">In The Woods: Biggest and Oldest tree</a></h2>

    <p class="meta">Published on <a href="#">November 20, 2010</a> by <a href="#">YCB</a></p>

    <a href="/post" class="button">Read More...</a>

  </div><!-- end .entry-header -->

  <div class="entry-content">

    <a href="/post"><img src="/assets/sample-images/single-3.jpg" width="240" height="140" alt="" class="entry-image" /></a>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <a href="#">when an unknown</a> printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>

    <hr />

    <ul class="entry-links">
      <li><a href="#">Send to a Friend</a> <span class="separator">|</span></li>
      <li><a href="#">Share this /post</a> <span class="separator">|</span></li>
      <li><a href="#">88 Comments</a> <span class="separator">|</span></li>
      <li><a href="#">3 Tweets</a></li>
    </ul>

  </div><!-- end .entry-content -->

</div><!-- end .entry -->

<div class="entry">

  <div class="entry-header">

    <h2 class="title"><a href="/post">Beachside: Waiting for the big catch</a></h2>

    <p class="meta">Published on <a href="#">November 3, 2010</a> by <a href="#">Johnny Doe</a></p>

    <a href="/post" class="button">Read More...</a>

  </div><!-- end .entry-header -->

  <div class="entry-content">

    <a href="/post"><img src="/assets/sample-images/single-4.jpg" width="240" height="140" alt="" class="entry-image" /></a>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <a href="#">when an unknown</a> printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>

    <hr />

    <ul class="entry-links">
      <li><a href="#">Send to a Friend</a> <span class="separator">|</span></li>
      <li><a href="#">Share this /post</a> <span class="separator">|</span></li>
      <li><a href="#">196 Comments</a> <span class="separator">|</span></li>
      <li><a href="#">45 Tweets</a></li>
    </ul>

  </div><!-- end .entry-content -->

</div><!-- end .entry -->

<ul class="pagination">
  <li class="prev"><a href="#">Prev</a></li>
  <li><a href="#">1</a></li>
  <li class="active"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li class="next"><a href="#">Next</a></li>
</ul>