<ul class="gallery-list clearfix">

  <li class="box">

    <div class="entry-header">

      <div class="zoom">
        <a href="/assets/sample-images/gallery-1-full.jpg" class="multi_images" rel="gallery-images" title="Texas Trip: Abandoned ranch">
          <img src="/assets/sample-images/gallery-1.jpg" alt="Texas Trip: Abandoned ranch" class="gallery-image">
        </a>
      </div>

      <h6>Texas Trip: Abandoned ranch</h6>

    </div><!-- end .entry-header -->

    <div class="entry-content">

      <div class="gallery-rating">
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="off"></span></a>
        <a href="#"><span class="off"></span></a>
      </div>

      <!-- AddToAny BEGIN -->
      <a class="a2a_dd share" href="http://www.addtoany.com/share_save">Share</a>
      <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->

    </div><!-- end .entry-content -->

  </li>

  <li class="box">

    <div class="entry-header">

      <div class="zoom">
        <a href="/assets/sample-images/gallery-2-full.jpg" class="multi_images" rel="gallery-images" title="Brooklyn Bridge: it connect New York City">
          <img src="/assets/sample-images/gallery-2.jpg" alt="Brooklyn Bridge: it connect New York City" class="gallery-image">
        </a>
      </div>

      <h6>Brooklyn Bridge: it connect New York City</h6>

    </div><!-- end .entry-header -->

    <div class="entry-content">

      <div class="gallery-rating">
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="off"></span></a>
        <a href="#"><span class="off"></span></a>
      </div>

      <!-- AddToAny BEGIN -->
      <a class="a2a_dd share" href="http://www.addtoany.com/share_save">Share</a>
      <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->

    </div><!-- end .entry-content -->

  </li>

  <li class="box">

    <div class="entry-header">

      <div class="zoom">
        <a href="/assets/sample-images/gallery-3-full.jpg" class="multi_images" rel="gallery-images" title="In The Woods: Biggest and Oldest tree">
          <img src="/assets/sample-images/gallery-3.jpg" alt="In The Woods: Biggest and Oldest tree" class="gallery-image">
        </a>
      </div>

      <h6>In The Woods: Biggest and Oldest tree</h6>

    </div><!-- end .entry-header -->

    <div class="entry-content">

      <div class="gallery-rating">
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="off"></span></a>
        <a href="#"><span class="off"></span></a>
      </div>

      <!-- AddToAny BEGIN -->
      <a class="a2a_dd share" href="http://www.addtoany.com/share_save">Share</a>
      <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->

    </div><!-- end .entry-content -->

  </li>

  <li class="box">

    <div class="entry-header">

      <div class="zoom">
        <a href="/assets/sample-images/gallery-4-full.jpg" class="multi_images" rel="gallery-images" title="Beachside: Waiting for the big catch">
          <img src="/assets/sample-images/gallery-4.jpg" alt="Beachside: Waiting for the big catch" class="gallery-image">
        </a>
      </div>

      <h6>Beachside: Waiting for the big catch</h6>

    </div><!-- end .entry-header -->

    <div class="entry-content">

      <div class="gallery-rating">
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="off"></span></a>
        <a href="#"><span class="off"></span></a>
      </div>

      <!-- AddToAny BEGIN -->
      <a class="a2a_dd share" href="http://www.addtoany.com/share_save">Share</a>
      <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->

    </div><!-- end .entry-content -->

  </li>

  <li class="box">

    <div class="entry-header">

      <div class="zoom">
        <a href="/assets/sample-images/gallery-5-full.jpg" class="multi_images" rel="gallery-images" title="Museum: Native American Style Box">
          <img src="/assets/sample-images/gallery-5.jpg" alt="Museum: Native American Style Box" class="gallery-image">
        </a>
      </div>

      <h6>Museum: Native American Style Box</h6>

    </div><!-- end .entry-header -->

    <div class="entry-content">

      <div class="gallery-rating">
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="off"></span></a>
        <a href="#"><span class="off"></span></a>
      </div>

      <!-- AddToAny BEGIN -->
      <a class="a2a_dd share" href="http://www.addtoany.com/share_save">Share</a>
      <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->

    </div><!-- end .entry-content -->

  </li>

  <li class="box">

    <div class="entry-header">

      <div class="zoom">
        <a href="/assets/sample-images/gallery-6-full.jpg" class="multi_images" rel="gallery-images" title="Abroad Trip: Australian Rocks">
          <img src="/assets/sample-images/gallery-6.jpg" alt="Abroad Trip: Australian Rocks" class="gallery-image">
        </a>
      </div>

      <h6>Abroad Trip: Australian Rocks</h6>

    </div><!-- end .entry-header -->

    <div class="entry-content">

      <div class="gallery-rating">
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="off"></span></a>
        <a href="#"><span class="off"></span></a>
      </div>

      <!-- AddToAny BEGIN -->
      <a class="a2a_dd share" href="http://www.addtoany.com/share_save">Share</a>
      <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->

    </div><!-- end .entry-content -->

  </li>

</ul>

<div class="clear"></div>

<ul class="pagination">
  <li class="prev"><a href="#">Prev</a></li>
  <li><a href="#">1</a></li>
  <li class="active"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li class="next"><a href="#">Next</a></li>
</ul>
