<%= content_for :before_content do %>
    <div id="slider">

      <div class="container">

        <ul>

          <li>

            <img src="/assets/sample-images/slider-1.jpg" width="1010" height="330" alt=""/>

            <div class="slide-info">

              <h2><a href="#">Hotel Ca' Sagredo - Grand Canal</a></h2>

              <p class="meta">Published on <a href="#">November 25, 2010</a> by <a href="#">YCB</a></p>

              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type...</p>

              <a href="#" class="comments-count">44 Comments</a>

              <a href="/post" class="slider-button">Read More...</a>

            </div>
            <!-- end .slide-info -->

          </li>

          <li>

            <img src="/assets/sample-images/slider-2.jpg" width="1010" height="330" alt=""/>

            <div class="slide-info">

              <h2><a href="#">Trip2010: Florida, Waves in Miami Beach</a></h2>

              <p class="meta">Published on <a href="#">November 12, 2010</a> by <a href="#">YCB</a></p>

              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type...</p>

              <a href="#" class="comments-count">39 Comments</a>

              <a href="/post" class="slider-button">Read More...</a>

            </div>
            <!-- end .slide-info -->

          </li>

          <li>

            <img src="/assets/sample-images/slider-3.jpg" width="1010" height="330" alt=""/>

            <div class="slide-info">

              <h2><a href="#">Exciting Island in Greece</a></h2>

              <p class="meta">Published on <a href="#">November 6, 2010</a> by <a href="#">YCB</a></p>

              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type...</p>

              <a href="#" class="comments-count">65 Comments</a>

              <a href="/post" class="slider-button">Read More...</a>

            </div>
            <!-- end .slide-info -->

          </li>

          <li>

            <img src="/assets/sample-images/slider-4.jpg" width="1010" height="330" alt=""/>

            <div class="slide-info">

              <h2><a href="#">Beautiful Frozen Landscape</a></h2>

              <p class="meta">Published on <a href="#">November 3, 2010</a> by <a href="#">YCB</a></p>

              <p>Kars'tan Ne Alınır

                Değişik yöresel motiflerle yapılmış halı ve kilimler ile kaz tüyünden yapılan kuştüyü yastıkları,
                yöresel gümüş takılar, Kars kaşar peyniri ve balı alınabilir.


                Devamı için: Kars hakkında bilmek istedikleriniz ...</p>

              <a href="#" class="comments-count">12 Comments</a>

              <a href="/post" class="slider-button">Read More...</a>

            </div>
            <!-- end .slide-info -->

          </li>

        </ul>

      </div>
      <!-- end .container -->

    </div><!-- end #slider -->

<% end %>
<div id="trips-viewer" class="box">

<div class="box-header">

  <ul class="tabs-nav">
    <li><a href="#featured-trips">Featured Trips</a></li>
    <li><a href="#popular-trips">Popular Trips</a></li>
    <li><a href="#most-viewed-trips">Most Viewed Trips</a></li>
  </ul>

  <a href="#" class="rss"><img src="/assets/icon-rss-small.png" alt="icon-rss"/></a>

</div>
<!-- end .box-header -->

<div id="featured-trips" class="tab-content">

  <div class="trips-container">

    <ul>

      <li id="featured-slide-one" class="trip-content">

        <a href="/post">
          <img src="/assets/sample-images/trips-viewer-1.jpg" width="242" height="88" alt=""/>
          <h4 class="title">Palmtree Wind Photo from Miami Beach, Florida</h4>
        </a>

        <p class="meta">Published on <a href="#">March 21, 2010</a> by <a href="#">YCB</a></p>

        <p> Mardin Coğrafi Bilgileri

          Mardin ili Güneydoğu Anadolu Bölgesi'nde yer alır. Güneyinde Suriye ile komşudur. Batıda Şanlıurfa'ya 188 km.;
          kuzeyde Diyarbakır'a 95 km. ve Batman'a 149 km.; kuzeydoğusunda Siirt'e 230 km. ve doğuda Şırnak'a 201 km.
          uzaklıktadır.


          Devamı için: Mardin hakkında bilmek istedikleriniz .</p>

        <a href="#" class="sent-to-friend">Sent to a Friend</a>
        <a class="button" href="/post">Read More...</a>

      </li>
      <!-- end #slide-one -->

      <li id="featured-slide-two" class="trip-content">

        <a href="/post">
          <img src="/assets/sample-images/trips-viewer-4.jpg" width="242" height="88" alt=""/>
          <h4 class="title">Keep Off: Beach Attention Table</h4>
        </a>

        <p class="meta">Published on <a href="#">March 18, 2010</a> by <a href="#">YCB</a></p>

        <p>Doğunun gelişmiş şehirlerinden olan ve iki cumhurbaşkanı çıkaran Malatya; zengin su kaynakları nedeniyle eski
          çağlardan beri yerleşim yeri olarak kullanılan bir merkez olmuştur. Malatya'nın 5 milyon yıl önce deniz olduğu
          söylenmektedir.

          Roma ve Bizans dönemlerinden kalma Eski Malatya Kalesi'ni, Selçuklular zamanından kalma Eski Arapgir Kalesi'ni
          ve Romalılar döneminden kalma Doğanşehir Kalesi'ni gezebilirsiniz.

          İlde bulunan tarihi camilerin başlıcaları; Yeni Camii, Ulu Camii, Yusufziya Cami, Arapkir Ulu Camii ve Çarşı
          Camii'dir.


          Devamı için: Malatya hakkında bilmek istedikleriniz . </p>

        <a href="#" class="sent-to-friend">Sent to a Friend</a>
        <a class="button" href="/post">Read More...</a>

      </li>
      <!-- end #slide-two -->

      <li id="featured-slide-three" class="trip-content">

        <a href="/post">
          <img src="/assets/sample-images/trips-viewer-3.jpg" width="242" height="88" alt=""/>
          <h4 class="title">Museum: Native American Style Box</h4>
        </a>

        <p class="meta">Published on <a href="#">March 16, 2010</a> by <a href="#">YCB</a></p>

        <p>MUĞLA

          Muğla’ya ne zaman gidilir, Muğla'nın nüfusu, Muğla’nın coğrafi bilgileri, Muğla'daki oteller, taksi
          telefonları ve Muğla hakkındaki yorumları inceleyebilirsiniz. Muğla hakkında öğrenmek istediklerinizi bu
          sayfada bulabilirsiniz.


          Yüzölçümü: 13.338 km²
          Nüfusu: 838.324 (2011)
          Muğla Ne Zaman Gezilir

          Muğla her yıl Türkiye ve dünyadan milyonlarca turist ağırlamaktadır. Bu eşsiz turizm merkezini yaz aylarında
          ziyaret edip, eşsiz kumsallarının ve denizinin tadını çıkartabilirsiniz.

          Muğla Gezilecek Yerler

          .</p>

        <a href="#" class="sent-to-friend">Sent to a Friend</a>
        <a class="button" href="/post">Read More...</a>

      </li>
      <!-- end #slide-three -->

      <li id="featured-slide-four" class="trip-content">

        <a href="/post">
          <img src="/assets/sample-images/trips-viewer-2.jpg" width="242" height="88" alt=""/>
          <h4 class="title">Abroad Trip: Australian Rocks</h4>
        </a>

        <p class="meta">Published on <a href="#">March 08, 2013</a> by <a href="#">YCB</a></p>

        <p>Elazığ'da karasal iklimin hakim olmasına rağmen Keban Barajı kurulduktan sonra akdeniz iklimi özellikleri de
          yaşanmaya başlanmıştır. Hava sıcaklığı -15 ile +42 C arasındadır. Kışlar çok sert geçtiği için ilkbahar ve yaz
          aylarında gitmeniz daha verimli bir tatil geçirmenizi sağlayacaktır

          Devamı için: Elazığ hakkında bilmek istedikleriniz .</p>

        <a href="#" class="sent-to-friend">Sent to a Friend</a>
        <a class="button" href="/post">Read More...</a>

      </li>
      <!-- end #slide-three -->

    </ul>

  </div>
  <!-- end .trips-container -->

  <ul class="trips-nav">

    <li class="nav-button">
      <div class="content">
        <a href="#featured-slide-one" class="title">
          <img src="/assets/sample-images/trips-viewer-nav-1.jpg" width="60" height="60" alt=""/>
          <h6>Palmtree Wind Photo from Miami, Florida</h6>
        </a>

        <p class="meta">Published on <a href="#">March 21, 2010</a> by <a href="#">YCB</a></p>
        <ul class="links">
          <li><a href="#">122 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">9 Tweets</a> <span class="separator">|</span></li>
          <li><a href="#">Read More...</a></li>
        </ul>
      </div>
      <!-- end .content -->
    </li>
    <!-- end .nav-button -->

    <li class="nav-button">
      <div class="content">
        <a href="#featured-slide-two" class="title">
          <img src="/assets/sample-images/trips-viewer-nav-4.jpg" width="60" height="60" alt=""/>
          <h6>Keep Off: Beach Attention Table</h6>
        </a>

        <p class="meta">Published on <a href="#">March 18, 2010</a> by <a href="#">YCB</a></p>
        <ul class="links">
          <li><a href="#">34 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">14 Tweets</a> <span class="separator">|</span></li>
          <li><a href="#">Read More...</a></li>
        </ul>
      </div>
      <!-- end .content -->
    </li>
    <!-- end .nav-button -->

    <li class="nav-button">
      <div class="content">
        <a href="#featured-slide-three" class="title">
          <img src="/assets/sample-images/trips-viewer-nav-3.jpg" width="60" height="60" alt=""/>
          <h6>Museum: Native American Style Box</h6>
        </a>

        <p class="meta">Published on <a href="#">March 16, 2010</a> by <a href="#">YCB</a></p>
        <ul class="links">
          <li><a href="#">64 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">2 Tweets</a> <span class="separator">|</span></li>
          <li><a href="#">Read More...</a></li>
        </ul>
      </div>
      <!-- end .content -->
    </li>
    <!-- end .nav-button -->

    <li class="nav-button">
      <div class="content">
        <a href="#featured-slide-four" class="title">
          <img src="/assets/sample-images/trips-viewer-nav-2.jpg" width="60" height="60" alt=""/>
          <h6>Abroad Trip: Australian Rocks</h6>
        </a>

        <p class="meta">Published on <a href="#">March 08, 2010</a> by <a href="#">YCB</a></p>
        <ul class="links">
          <li><a href="#">56 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">7 Tweets</a> <span class="separator">|</span></li>
          <li><a href="#">Read More...</a></li>
        </ul>
      </div>
      <!-- end .content -->
    </li>
    <!-- end .nav-button -->

  </ul>
  <!-- end .trips-nav -->

</div>
<!-- end #featured-trips -->

<div id="popular-trips" class="tab-content">

  <div class="trips-container">

    <ul>

      <li id="popular-slide-one" class="trip-content">

        <a href="/post">
          <img src="/assets/sample-images/trips-viewer-4.jpg" width="242" height="88" alt=""/>
          <h4 class="title">Keep Off: Beach Attention Table</h4>
        </a>

        <p class="meta">Published on <a href="#">March 18, 2010</a> by <a href="#">YCB</a></p>

        <p>Kahramanmaraş Ne Zaman Gezilir

          Yöresel tatları ve tarihi ile ön plana çıkan Kahramanmaraş'ı gezip yemeklerini tadabileceğiniz en güzel zaman
          ilkbahar sonu ve yaz aylarıdır.


          Devamı için: Kahramanmaraş hakkında bilmek istedikleriniz . </p>

        <a href="#" class="sent-to-friend">Sent to a Friend</a>
        <a class="button" href="/post">Read More...</a>

      </li>
      <!-- end #slide-one -->

      <li id="popular-slide-two" class="trip-content">

        <a href="/post">
          <img src="/assets/sample-images/trips-viewer-2.jpg" width="242" height="88" alt=""/>
          <h4 class="title">Abroad Trip: Australian Rocks</h4>
        </a>

        <p class="meta">Published on <a href="#">March 08, 2010</a> by <a href="#">YCB</a></p>

        <p>Kahramanmaraş, kurtuluş savaşı esnasında Fransız işgalcilerine karşı yapmış olduğu mücadeleden dolayı
          istiklal madalyası alan tek ildir. Ayrıca bu mücadelesinden dolayı ile 7 Şubat 1973'te 'Kahraman' ünvanı
          verilmiştir.

          Zengin bir tarihi geçmişi olan Kahramanmaraş'ın merkezinde bulunan Kahramanmaraş Kalesini gezebilirsiniz. Kale
          Romalılar tarafından M.Ö. 1.yy. - M.S. 2. yy. arasında yapıldığı tahmin edilmektedir. Kale o dönemlerdeki
          hristiyan müslüman çatışmasından dolayı sürekli istilaya uğramıştır.


          Devamı için: Kahramanmaraş hakkında bilmek istedikleriniz .</p>

        <a href="#" class="sent-to-friend">Sent to a Friend</a>
        <a class="button" href="/post">Read More...</a>

      </li>
      <!-- end #slide-two -->

      <li id="popular-slide-three" class="trip-content">

        <a href="/post">
          <img src="/assets/sample-images/trips-viewer-1.jpg" width="242" height="88" alt=""/>
          <h4 class="title">Palmtree Wind Photo from Miami Beach, Florida</h4>
        </a>

        <p class="meta">Published on <a href="#">March 21, 2010</a> by <a href="#">YCB</a></p>

        <p>Malatya'yı yaz aylarında ziyaret etmeniz doğa güzelliklerini keşfetmeniz ve kayısısının tadına bakmanız için
          en güzel mevsimdir.

          Malatya Gezilecek Yerler

          Doğunun gelişmiş şehirlerinden olan ve iki cumhurbaşkanı çıkaran Malatya; zengin su kaynakları nedeniyle eski
          çağlardan beri yerleşim yeri olarak kullanılan bir merkez olmuştur. Malatya'nın 5 milyon yıl önce deniz olduğu
          söylenmektedir.


          Devamı için: Malatya hakkında bilmek istedikleriniz .</p>

        <a href="#" class="sent-to-friend">Sent to a Friend</a>
        <a class="button" href="/post">Read More...</a>

      </li>
      <!-- end #slide-three -->

      <li id="popular-slide-four" class="trip-content">

        <a href="/post">
          <img src="/assets/sample-images/trips-viewer-3.jpg" width="242" height="88" alt=""/>
          <h4 class="title">Museum: Native American Style Box</h4>
        </a>

        <p class="meta">Published on <a href="#">March 16, 2010</a> by <a href="#">YCB</a></p>

        <p>Roma ve Bizans dönemlerinden kalma Eski Malatya Kalesi'ni, Selçuklular zamanından kalma Eski Arapgir
          Kalesi'ni ve Romalılar döneminden kalma Doğanşehir Kalesi'ni gezebilirsiniz.

          İlde bulunan tarihi camilerin başlıcaları; Yeni Camii, Ulu Camii, Yusufziya Cami, Arapkir Ulu Camii ve Çarşı
          Camii'dir.


          Devamı için: Malatya hakkında bilmek istedikleriniz .</p>

        <a href="#" class="sent-to-friend">Sent to a Friend</a>
        <a class="button" href="/post">Read More...</a>

      </li>
      <!-- end #slide-four -->

    </ul>

  </div>
  <!-- end .trips-container -->

  <ul class="trips-nav">

    <li class="nav-button">
      <div class="content">
        <a href="#popular-slide-one" class="title">
          <img src="/assets/sample-images/trips-viewer-nav-4.jpg" width="60" height="60" alt=""/>
          <h6>Keep Off: Beach Attention Table</h6>
        </a>

        <p class="meta">Published on <a href="#">March 18, 2010</a> by <a href="#">YCB</a></p>
        <ul class="links">
          <li><a href="#">34 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">14 Tweets</a> <span class="separator">|</span></li>
          <li><a href="#">Read More...</a></li>
        </ul>
      </div>
      <!-- end .content -->
    </li>
    <!-- end .nav-button -->

    <li class="nav-button">
      <div class="content">
        <a href="#popular-slide-two" class="title">
          <img src="/assets/sample-images/trips-viewer-nav-2.jpg" width="60" height="60" alt=""/>
          <h6>Abroad Trip: Australian Rocks</h6>
        </a>

        <p class="meta">Published on <a href="#">March 08, 2010</a> by <a href="#">YCB</a></p>
        <ul class="links">
          <li><a href="#">56 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">7 Tweets</a> <span class="separator">|</span></li>
          <li><a href="#">Read More...</a></li>
        </ul>
      </div>
      <!-- end .content -->
    </li>
    <!-- end .nav-button -->

    <li class="nav-button">
      <div class="content">
        <a href="#popular-slide-three" class="title">
          <img src="/assets/sample-images/trips-viewer-nav-1.jpg" width="60" height="60" alt=""/>
          <h6>Palmtree Wind Photo from Miami, Florida</h6>
        </a>

        <p class="meta">Published on <a href="#">March 21, 2010</a> by <a href="#">YCB</a></p>
        <ul class="links">
          <li><a href="#">122 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">9 Tweets</a> <span class="separator">|</span></li>
          <li><a href="#">Read More...</a></li>
        </ul>
      </div>
      <!-- end .content -->
    </li>
    <!-- end .nav-button -->

    <li class="nav-button">
      <div class="content">
        <a href="#popular-slide-four" class="title">
          <img src="/assets/sample-images/trips-viewer-nav-3.jpg" width="60" height="60" alt=""/>
          <h6>Museum: Native American Style Box</h6>
        </a>

        <p class="meta">Published on <a href="#">March 16, 2010</a> by <a href="#">YCB</a></p>
        <ul class="links">
          <li><a href="#">64 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">2 Tweets</a> <span class="separator">|</span></li>
          <li><a href="#">Read More...</a></li>
        </ul>
      </div>
      <!-- end .content -->
    </li>
    <!-- end .nav-button -->

  </ul>
  <!-- end .trips-nav -->

</div>
<!-- end #popular-trips -->

<div id="most-viewed-trips" class="tab-content">

  <div class="trips-container">

    <ul>

      <li id="most-viewed-slide-one" class="trip-content">

        <a href="/post">
          <img src="/assets/sample-images/trips-viewer-2.jpg" width="242" height="88" alt=""/>
          <h4 class="title">Abroad Trip: Australian Rocks</h4>
        </a>

        <p class="meta">Published on <a href="#">March 08, 2010</a> by <a href="#">YCB</a></p>

        <p>Malatya-Elazığ karayolu üzerinde bulunan Orduzu Pınarbaşı mesire yerini gezip temiz oksijen alabilir ve
          piknik yapabilirsiniz. Özellikle sıcak yaz aylarında Malatyalıların vazgeçilmez ve en çok tercih edilen piknik
          alanıdır.

          Malatya'nın tarihi ve doğal güzelliği olan Akçadağ'da Türkiye'nin ünlü yarış atları yetiştirlmektedir.


          Devamı için: Malatya hakkında bilmek istedikleriniz .</p>

        <a href="#" class="sent-to-friend">Sent to a Friend</a>
        <a class="button" href="/post">Read More...</a>

      </li>
      <!-- end #slide-one -->

      <li id="most-viewed-slide-two" class="trip-content">

        <a href="/post">
          <img src="/assets/sample-images/trips-viewer-3.jpg" width="242" height="88" alt=""/>
          <h4 class="title">Museum: Native American Style Box</h4>
        </a>

        <p class="meta">Published on <a href="#">March 16, 2010</a> by <a href="#">YCB</a></p>

        <p>Yolunuz Darende'ye düşerse bir doğa harikası olan Günpınar Şelalesi'ni mutlaka görmelisiniz. Şelaleyi görmek
          için yöreye her yıl birçok ziyaretçi gelmektedir.

          Malatya'nın simgesi olan kayısı şehirle özdeşleşmiştir. Malatya'ya uğradığınızda mutlaka kayısının tadına
          bakmalı ve çeşitli kayısı ürünlerinden alabilirsiniz.

          Malatya'dan Ne Alınır?

          Malatya el işçiliği örneği olan halı, perde, sofra bezi alınabilir.Ayrıca kayısı konservesi ve reçeli
          alabilirsiniz.


        </p>

        <a href="#" class="sent-to-friend">Sent to a Friend</a>
        <a class="button" href="/post">Read More...</a>

      </li>
      <!-- end #slide-two -->

      <li id="most-viewed-slide-three" class="trip-content">

        <a href="/post">
          <img src="/assets/sample-images/trips-viewer-4.jpg" width="242" height="88" alt=""/>
          <h4 class="title">Keep Off: Beach Attention Table</h4>
        </a>

        <p class="meta">Published on <a href="#">March 18, 2010</a> by <a href="#">YCB</a></p>

        <p>Malatya Yöresine Ait Tatlar

          İçli köfte, kulak çorbası, tarhana çorbası, kayısı dolması, kuymak, kömbe, patlıcanlı malatya kebabı yöreye
          ait tatlardandır.

          Malatya Coğrafi Bilgileri

          İl, Doğu Anadolu Bölgesi'nin Yukarı Fırat Bölümü'nde yer alır. Doğuda Elazığ'a 98 km. ve Diyarbakır'a 251 km.;
          güneyde Adıyaman'a 185 km.; batıda Kahramanmaraş'a 223 km.; kuzeyde Sivas'a 247 km. ve Erzincan'a 363
          km.uzaklıktadır.


          Devamı için: Malatya hakkında bilmek istedikleriniz . </p>

        <a href="#" class="sent-to-friend">Sent to a Friend</a>
        <a class="button" href="/post">Read More...</a>

      </li>
      <!-- end #slide-three -->

      <li id="most-viewed-slide-four" class="trip-content">

        <a href="/post">
          <img src="/assets/sample-images/trips-viewer-1.jpg" width="242" height="88" alt=""/>
          <h4 class="title">Palmtree Wind Photo from Miami Beach, Florida</h4>
        </a>

        <p class="meta">Published on <a href="#">March 21, 2010</a> by <a href="#">YCB</a></p>

        <p>Aydın Gezilecek Yerler

          İlk olarak 1959 yılında kurulan oldukça güzel ve büyük bir bahçeye sahip olan Aydın Müzesi'ni gezebilirsiniz.
          Bu bahçe içerisinde Aydin çevresinden derlenmis mezar taslari, lahitler, yazitli steller, sütun basliklari ve
          çesitli mimari parçalar sergilenmektedir. Müze içerisinde Etnografya salonu, Sikke salonu ve Arkeoloji salonu
          mevcuttur.
          Milet kentinde yer alan ve1973 yılında kurulan Milet Müzesi ve Karacasu'da Afrodisyas antik kenti içinde
          bulunan Afrodisyas Müzesini de gezebilirsiniz.


          Devamı için: Aydın hakkında bilmek istedikleriniz .</p>

        <a href="#" class="sent-to-friend">Sent to a Friend</a>
        <a class="button" href="/post">Read More...</a>

      </li>
      <!-- end #slide-four -->

    </ul>

  </div>
  <!-- end .trips-container -->

  <ul class="trips-nav">

    <li class="nav-button">
      <div class="content">
        <a href="#most-viewed-slide-one" class="title">
          <img src="/assets/sample-images/trips-viewer-nav-2.jpg" width="60" height="60" alt=""/>
          <h6>Abroad Trip: Australian Rocks</h6>
        </a>

        <p class="meta">Published on <a href="#">March 08, 2010</a> by <a href="#">YCB</a></p>
        <ul class="links">
          <li><a href="#">56 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">7 Tweets</a> <span class="separator">|</span></li>
          <li><a href="#">Read More...</a></li>
        </ul>
      </div>
      <!-- end .content -->
    </li>
    <!-- end .nav-button -->

    <li class="nav-button">
      <div class="content">
        <a href="#most-viewed-slide-two" class="title">
          <img src="/assets/sample-images/trips-viewer-nav-3.jpg" width="60" height="60" alt=""/>
          <h6>Museum: Native American Style Box</h6>
        </a>

        <p class="meta">Published on <a href="#">March 16, 2010</a> by <a href="#">YCB</a></p>
        <ul class="links">
          <li><a href="#">64 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">2 Tweets</a> <span class="separator">|</span></li>
          <li><a href="#">Read More...</a></li>
        </ul>
      </div>
      <!-- end .content -->
    </li>
    <!-- end .nav-button -->

    <li class="nav-button">
      <div class="content">
        <a href="#most-viewed-slide-three" class="title">
          <img src="/assets/sample-images/trips-viewer-nav-4.jpg" width="60" height="60" alt=""/>
          <h6>Keep Off: Beach Attention Table</h6>
        </a>

        <p class="meta">Published on <a href="#">March 18, 2010</a> by <a href="#">YCB</a></p>
        <ul class="links">
          <li><a href="#">34 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">14 Tweets</a> <span class="separator">|</span></li>
          <li><a href="#">Read More...</a></li>
        </ul>
      </div>
      <!-- end .content -->
    </li>
    <!-- end .nav-button -->

    <li class="nav-button">
      <div class="content">
        <a href="#most-viewed-slide-four" class="title">
          <img src="/assets/sample-images/trips-viewer-nav-1.jpg" width="60" height="60" alt=""/>
          <h6>Palmtree Wind Photo from Miami, Florida</h6>
        </a>

        <p class="meta">Published on <a href="#">March 21, 2010</a> by <a href="#">YCB</a></p>
        <ul class="links">
          <li><a href="#">122 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">9 Tweets</a> <span class="separator">|</span></li>
          <li><a href="#">Read More...</a></li>
        </ul>
      </div>
      <!-- end .content -->
    </li>
    <!-- end .nav-button -->

  </ul>
  <!-- end .trips-nav -->

</div>
<!-- end #most-viewed-trips -->

</div><!-- end #trips-viewer -->

<div class="entry">

  <div class="entry-header">

    <h2 class="title"><a href="/post">Texas Trip 2010: Abandoned ranch</a></h2>

    <p class="meta">Published on <a href="#">December 3, 2010</a> by <a href="#">YCB</a></p>

    <a href="/post" class="button">Read More...</a>

  </div>
  <!-- end .entry-header -->

  <div class="entry-content">

    <a href="/post"><img src="/assets/sample-images/single-1.jpg" width="240" height="140" alt="" class="entry-image"/></a>

    <p>Kırşehir Ne Zaman Gezilir

      Yıllık ortalama sıcaklık farkı çok fazla olmamasına rağmen kışları soğuk ve kar yağışlı geçmekte olan Kırşehir'e
      ilkbahar ve yaz aylarında gitmeniz tavsiyemizdir.

      Kırşehir Gezilecek Yerler

      Yüzlerce senedir birçok medeniyete ev sahipliği yapmış Kırşehir'in tarihinin Tunç Dönemine dayandığı tahmin
      edilmektedir. Şehir termal alanları ile ön plandadır. Sadece termal tesisleri ile değil yeraltı şehirleri ve
      tarihi eserleri ile de dikkat çekmektedir.


      Devamı için: Kırşehir hakkında bilmek istedikleriniz </p>

    <hr/>

    <ul class="entry-links">
      <li><a href="#">Send to a Friend</a> <span class="separator">|</span></li>
      <li><a href="#">Share this /post</a> <span class="separator">|</span></li>
      <li><a href="#">41 Comments</a> <span class="separator">|</span></li>
      <li><a href="#">0 Tweets</a></li>
    </ul>

  </div>
  <!-- end .entry-content -->

</div><!-- end .entry -->

<div class="entry">

  <div class="entry-header">

    <h2 class="title"><a href="/post">Brooklyn Bridge: it connect New York City</a></h2>

    <p class="meta">Published on <a href="#">November 29, 2010</a> by <a href="#">Jonathan Doe</a></p>

    <a href="/post" class="button">Read More...</a>

  </div>
  <!-- end .entry-header -->

  <div class="entry-content">

    <a href="/post"><img src="/assets/sample-images/single-2.jpg" width="240" height="140" alt="" class="entry-image"/></a>

    <p>Yapılan araştırmalar ve çalışmalar sonucu Hitit dönemine eserler bulunan Hashöyük şehir merkezine yaklaşık 35 km
      mesafededir. İl merkezinde bulunan Kalehöyük'ün M.Ö. dönemlerde kullanıldığı tahmin edilmektedir.

      Milattan önce 400lü yıllarda kurulduğu bilinen Mucur Yeraltı Şehri, Mucur ilçesinde yer almaktadır. Yerden 8 m
      aşağıda olan şehrin kırk iki tane odası vardır. Dulkadirli İnli Murat Yeraltı Şehri'nin, Milattan sonra V.
      yüzyılda kurulduğu tahmin edilmektedir. İçi on oda ve üç ana mekandan oluşmaktadır. Kırşehir merkeze ise yaklaşık
      60 km mesafededir.

      Cacabey Medresesi 1272 yılında inşaa edilmiş minaresi gözlem evi olarak kullanımıştır. Bugün cami olarak
      kullanılıyor. Ahi Evran Türbesi de Cacabey Medresesi gibi il merkezindedir. 1482 yılında yaptılımıştır.


      Devamı için: Kırşehir hakkında bilmek istedikleriniz </p>

    <hr/>

    <ul class="entry-links">
      <li><a href="#">Send to a Friend</a> <span class="separator">|</span></li>
      <li><a href="#">Share this /post</a> <span class="separator">|</span></li>
      <li><a href="#">3 Comments</a> <span class="separator">|</span></li>
      <li><a href="#">12 Tweets</a></li>
    </ul>

  </div>
  <!-- end .entry-content -->

</div><!-- end .entry -->

<div class="entry">

  <div class="entry-header">

    <h2 class="title"><a href="/post">In The Woods: Biggest and Oldest tree</a></h2>

    <p class="meta">Published on <a href="#">November 20, 2010</a> by <a href="#">YCB</a></p>

    <a href="/post" class="button">Read More...</a>

  </div>
  <!-- end .entry-header -->

  <div class="entry-content">

    <a href="/post"><img src="/assets/sample-images/single-3.jpg" width="240" height="140" alt="" class="entry-image"/></a>

    <p>Şehir merkezinde bulunan Melik Gazi Kümbeti'nin on üçüncü yy. da yaptırıldığı tahmin edilmektedir. Kümbetin hemen
      yanında bulunan Lala Camii'nin yine bu dönemde inşaa edildiği ve darpane olarak kullanıldığı öne sürülmektedir.
      Melik Gazi Kümbeti'nin haricinde Fatma Hatun ve Kalender Baba kümbetleri de Kırşehirdedir.

      Hitit döneminde inşaa edilen ve Bizans döneminde kullanılan Kuş Kalesi dikkat çekmektedir.Kırşehir'in en büyük
      kaleleri arasında olan Keçi Kalesi'nin Bizanslılar tarafından yaptırıldığı bilinmektedir.


    </p>

    <hr/>

    <ul class="entry-links">
      <li><a href="#">Send to a Friend</a> <span class="separator">|</span></li>
      <li><a href="#">Share this /post</a> <span class="separator">|</span></li>
      <li><a href="#">88 Comments</a> <span class="separator">|</span></li>
      <li><a href="#">3 Tweets</a></li>
    </ul>

  </div>
  <!-- end .entry-content -->

</div><!-- end .entry -->

<div class="entry">

  <div class="entry-header">

    <h2 class="title"><a href="/post">Beachside: Waiting for the big catch</a></h2>

    <p class="meta">Published on <a href="#">November 3, 2010</a> by <a href="#">Johnny Doe</a></p>

    <a href="/post" class="button">Read More...</a>

  </div>
  <!-- end .entry-header -->

  <div class="entry-content">

    <a href="/post"><img src="/assets/sample-images/single-4.jpg" width="240" height="140" alt="" class="entry-image"/></a>

    <p>Terme Termal Turizm Merkezi Kırşehirin gözde termal tesisidir. Kalp ve kan dolaşımı, kadın hastalıkları, sinirsel
      hastalıklar, eklem ve kireçlenme, romatizma gibi rahatsızlıkları tedavi edici etkisi bulunmaktadır.

      Kırşehir'den Ne Alınır

      İlin ünlü onyx taşından yapılma el işçiliği ürünlerinden alabilirsiniz.


      Devamı için: Kırşehir hakkında bilmek istedikleriniz </p>

    <hr/>

    <ul class="entry-links">
      <li><a href="#">Send to a Friend</a> <span class="separator">|</span></li>
      <li><a href="#">Share this /post</a> <span class="separator">|</span></li>
      <li><a href="#">196 Comments</a> <span class="separator">|</span></li>
      <li><a href="#">45 Tweets</a></li>
    </ul>

  </div>
  <!-- end .entry-content -->

</div><!-- end .entry -->

<ul class="pagination">
  <li class="prev"><a href="#">Prev</a></li>
  <li><a href="#">1</a></li>
  <li class="active"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li class="next"><a href="#">Next</a></li>
</ul>
