<div class="entry single">

  <div class="entry-header">

    <h2 class="title">Texas Trip 2010: Abandoned ranch</h2>

    <p class="meta">Published on <a href="#">March 29, 2010</a> by <a href="#">YCB</a></p>

  </div>
  <!-- end .entry-header -->

  <div class="entry-content">

    <p>ANTALYA

      Antalya'ya ne zaman gidilir, Antalya'nın nüfusu, Antalya'nın coğrafi bilgileri, Antalya'daki oteller, taksi
      telefonları ve Antalya hakkındaki yorumları inceleyebilirsiniz. Antalya hakkında öğrenmek istediklerinizi bu
      sayfada bulabilirsiniz.


      Yüzölçümü:
      20.815 km²

      Nüfusu:
      1.978.333
      (2011)
      Antalya Ne Zaman Gezilir

      Antalya'ya yazın gitmeniz sizin için en doğru karar olacaktır. Çünkü Antalya'nın kışları çok yağmurlu geçmektedir
      ve bu yağmurlar sağanak şeklinde olduğu için birim alana düşen yağmur miktarı küçümsenmeyecek kadar fazladır.
      Antalya'ya Mayıs - Ekim ayları arasında gitmeniz sizin Antalya'yı yaşamanıza yetecektir.

      Antalya Gezilecek Yerler

      Şehir merkezinde gezilebilecek turistik alan Muratpaşa'da bulunan Kaleiçi'dir. Yaz aylarında Antalya'ya gelen
      yerli yabancı turistlerin merkezde görmek istediği başlıca yerdir.

      Genelde insanlar bu şehre yazın keyfini çıkarmak için geldiklerinden deniz kenarlarını tercih etmektedirler.
      Bunların başında özellikle Rus turistlerin merkezi kuşkusuz Kemer'dir.

      Kemer

      İlçe 1910 yılında kurulmuş Batı Toros dağlarının eteklerinde kıyı boyunca uzanan yerlişim yeridir. Şehre 43 km.
      uzaklıkta olup ulaşım çok kolaydır. İl sınırlarının bir çok yerinden Kemer'e otobüsler kalkmaktadır ve merkezden
      yaklaşık 45 dk. sürmektedir.
      Kemer gece hayatı bakımdanda oldukça canlı bir bölgedir. Akşamları bölgenin serinlemesi ile insanlar kendilerini
      sokağa atarlar. Restorant ve cafelerin dışarı taşan masaları, hediyelik eşya reyonları şehrin sokaklarını süsler.
      Bu gezinme ve alışverişin sonunda gece hayatına giriş başlar. Kemer'de gece hayatı 01:00 gibi başlar ve sabahın
      ilk ışıklarına kadar devam eder.
      Ertesi gün ise deniz ve güneş vardır.

      Alanya

      Alanya, Antalya'nın bir başka şirin yerleşim yeridir. Şehir geniş plajları, tarihi eserleri ve eğlence hayatı ile
      ön plana çıkmaktadır. XIII. yüzyıldan kalma Selçuklu Kalesi ve sekizgen Kızıl Kulesi görülmeye değerdir. Bunların
      haricinde Damlataş mağarasını görmeden şehirden ayrılmamanızı tavsiye ediyoruz. En deniz kenarlarını tercih
      etmektedirler. Alanya'da bu alanları gördükten sonra serinlemek için Dim Çayı'nı ziyaret edebilirsiniz.
      Alanya gece hayatı da Kemer'inki kadar canlı geçmektedir. Kat kat Clubları ile dikkat çekmektedir. Yerli ve
      yabancı turistlerin gece 12 den sonra saldırısına uğrayan eğlence mekanları tıklım tıklımdır.

      Kaş

      Kaş, şehir merkezine 200 km. uzaklıkta bulunan yerleşim yeridir. Dalaman havaalanına ise 160 km. uzaklıktadır.
      Yerli ve yabancı turistler genelde denizin ve güneşin tadını çıkarmak için gelmektedir. Küçükçakıl plajı, Kaş
      merkezinden 5 - 6 dk yürüyüş mesafesindedir. Plajın her iki tarafı günlük ihtiyaçları karşılayabilecek durumdadır.
      Büyükçakıl plajı ise 15 - 20 dk yürüyüş mesafesindedir. Fakat yokuşların fazla olmasından taksi ile gidilmesi
      tavsiye edilir.

      Fethiye
      Fethiye için Akdeniz'in doğal cenneti de diyebiliriz. Siz de doğanın güzelliğine hayransanız tatilinizi Fethiye'de
      değerlendirebilirsiniz. Ayrıca şehre 35 km uzaklıktaki Göcek Koyu da görülmeye değerdir. Yazın hava sıcaklığı 30º
      civarındadır. İklim koşulları neredeyse bütün sebze ve meyve türlerinin yetiştirilmesine olanak sağlamaktadır.

      Antalya Coğrafi Bilgileri

      Antalya'nın batısında Muğla arası 313 km. doğsunda Karaman 376 km. ve Mersin 489 km. uzaklıktadır. Antalya'nın
      kuzeyinde ise Burdur 122 km. ve Isparta 130 km. mesafededir.


      Devamı için: Antalya hakkında bilmek istedikleriniz </p>

    <div class="zoom align-right">
      <a class="single_image" href="/assets/sample-images/single-post-1-full.jpg">
        <img src="/assets/sample-images/single-post-1.jpg" width="210" height="210" alt="Texas Trip 2010: Abandoned ranch" class="entry-image"/>
      </a>
    </div>

    <p> Çanakkale Ne Zaman Gezilir

      Şehri tarihi güzellikleri bakımından her mevsim ziyaret edebilirsiniz, fakat denizin ve de doğanın tam anlamıyla
      tadını çıkarmak istiyorsanız hakkınızı yaz aylarından yana kullanmanızı tavsiye ederiz.

      Çanakkale Gezilecek Yerler

      Turizmde öenmli bir yere sahip olan Avrupa ve Asya'ı birbirine bağlayan Ege ve Marmara Denizi'ni birleştiren, bir
      çok kanlı savaş görmüş Çanakkale. Şehitlikleri, Anıtları ve mezarlıklarıyla Gelibolu. Ayrıca, Troya ve Assos gibi
      eski medeniyetlerin beşiğidir.

      Gelibolu Tarihi Milli Parkı hayatlarını kaybeden beş yüz bin askerin anısına kurulmuştur. Şehir, Avrupa tarafında
      bulunan Gelibolu Yarımadası üzerine inşa edilmiştir. Tarihi parkta tarihi eserlere ek olarak eşsiz güzelliği ile
      Arıburnu Kayalıkları da bulunmaktadır. Doğal yeşillikleri ve maviliği ile şehitlerimize huzur dolu dinlenme
      alanıdır.

    </p>

    <div class="zoom align-left">
      <a class="single_image" href="/assets/sample-images/single-post-1-full.jpg">
        <img src="/assets/sample-images/single-post-1.jpg" width="210" height="210" alt="Texas Trip 2010: Abandoned ranch" class="entry-image"/>
      </a>
    </div>

    <p>Kars'ta yaklaşık 50 gün kar yağdığı için Kış Sporları ile ilgilenmiyorsanız yaz aylarında ziyaret etmeniz daha
      mantıklıdır.

      Kars Gezilecek Yerler

      Kars tarihi Cilalı Taş dönemine milattan önce 9000li yıllara kadar gittiği tahmin edilmektedir. Dönem dönem
      Hurriler, Bizanslılar, Urartular'ın hakimiyetine girmiş, 1064 yıllında Alparslan'ın fethi ile Türklere Anadolu'nun
      yolu açılmıştır. Yavuz Sultan Selim 1514 yıllında Kars'ı Osmanlı topraklarına katmıştır.

      Ülkenin en doğusundaki illerden biri olan Kars'ın yeryüzü şekillerinin de etkisi ile sanayii alanında gelişememiş
      olsa da turizm açısından gelişme göstermiştir. Özellikle kış turizmi bakımından ön plana çıkmış olmasına rağmen
      tarihi açıdan da önemlidir; Yontma Taş Dönemi'nden beri yerleşimin olduğu bilinmektedir. İlde tarihi değerler çok
      fazladır.

      Kars merkeze yaklaşık 42 km mesafede bulunan Digor'da Dede Korkut'un da yaşadığı tahmin edilmektedir. Orta Çağ'dan
      kalma kiliselerin bulunduğu kentte, Beş Müzesi ve Karabağ civarındaki Karabağ Müzesi bulunmaktadır.

      Kağızman, il merkezine yaklaşık 75 km mesafededir ve doğal güzellikleri ile göz doldurmaktadır. Bu güzellikleri
      Kağızman - Tuzluca yolu boyunca izleyebilirsiniz. Keçivan Kalesi, Çengim Kalesi ve de Köroğlu Kalesi Kağızman
      sınırları içerisinde yer almaktadır.

      Susuz Şelasi il merkezine yaklaşık 25 km uzaklıktaki Susuz ilçesindedir. Susuz Kaplıları'nın romatizma
      rahatsızlıklarına iyi geldiği bilinmektedir.
      Bölgenin en yüksek yaylalarının bulunduğu Selim ilçesi de Kars'tadır.
      Türkiye'nin Kış Sporları bakımından önemli merkezlerinden biri olan 2900 metre yükseklikte Sarıkamış'ta
      bulunmaktadır.

      Ani Harabeleri şehir merkezine yaklaşık 50 km mesafedir. M.Ö 350li yıllarda yapıldığı tahmin edilmektedir. Ani
      Harabeleri'nin olduğu bölgede bulunan Selçuk Sarayı epeyi görkemlidir. Kars Kalesi il merkezinde yer almaktadır.
      Timur tarafından yıkılan kale 1579 yılında tekrar inşaa edilmiştir. Kale civarında olan Beybelbeyi Sarayı Lala
      Mustafa Paşa tarafından yaptırılmıştır. 970'li yıllarda yapılıan kuzey surlarına, 990 yılarda yapılan doğu surları
      eklenmiştir. 12. yüzyılda Selçuklular tarafından hastane olarak kullanılmış Ejderha Kulesi en eski
      hastanelerdendir. Selçukluların kurdukları ilk cami olan Menuçehr Camisi ve Evliya Camisi Kars'ta yer almaktadır.
      3. Murat tarafından yaptırılan Taşköprü'nün sağında İlbeyoğlu Hamamı, solunda ise Mazlumağa Hamamı yer alamktadır.


      Devamı için: Kars hakkında bilmek istedikleriniz . </p>

  </div>
  <!-- end .entry-content -->

  <div class="entry-footer">

    <strong class="align-left">Contact Us: &nbsp;</strong>

    <dl class="horizontal">
      <dt>Web:</dt>
      <dd>www.yourdomain.com <span class="separator">|</span></dd>
      <dt>Email:</dt>
      <dd>yourmail@yourdomain.com <span class="separator">|</span></dd>
      <dt>Phone:</dt>
      <dd>+88 44 777 99</dd>
    </dl>

  </div>
  <!-- end .entry-footer -->

</div><!-- end .entry -->
