<div class="entry single">

  <div class="entry-header">

    <h2 class="title">Texas Trip 2010: Abandoned ranch</h2>

    <p class="meta">Published on <a href="#">March 29, 2010</a> by <a href="#">YCB</a></p>

    <div class="post-rating">
      <a href="#"><span class="on"></span></a>
      <a href="#"><span class="on"></span></a>
      <a href="#"><span class="on"></span></a>
      <a href="#"><span class="off"></span></a>
      <a href="#"><span class="off"></span></a>

      <p>Vote this post</p>
    </div>

  </div>
  <!-- end .entry-header -->

  <div class="entry-content">

    <div class="zoom">
      <a class="single_image" href="<%= @post.images.first.url[:large] %>">
        <%= image_tag @post.images.first.url[:large] %>
        <!--<img src="/assets/sample-images/single-post-1.jpg" width="650" height="210" alt="Texas Trip 2010: Abandoned ranch" class="entry-image"/>-->
      </a>
    </div>

    <p>
      Adana'ya ne zaman gidilebilir, Adana'nın nüfusu, Adana'nın coğrafi bilgileri, Adana'daki oteller, taksi
      telefonları ve Adana hakkındaki yorumları inceleyebilirsiniz. Adana hakkında öğrenmek istediklerinizi bu sayfada
      bulabilirsiniz

      Devamı için: Adana hakkında bilmek istedikleriniz
      Adana’da yaz ayları oldukça sıcak geçtiği için; özellikle Temmuz-Ağustos aylarında gidilmemesi tavsiye
      edilir.Temmuz ve Ağustos ayı hariç, yılın her ayında gidebilirsiniz.


      Devamı için: Adana hakkında bilmek istedikleriniz Adana Türkiye’nin beşinci büyük şehridir. Bir sanayi şehri
      olması sebebiyle, şehir yılın her ayı kalabalıktır.Ticaret gelişmiştir. Ayrıca Altın Koza Film Festivali her yıl
      burada düzenlenir.

      Şehir merkezinde bulunan Etnografya Müzesi, Bölge Arkeoloji Müzesi ve Atatürk Evi gezilmelidir.

      Sabancı Merkez Cami, Ulu Cami, Bebekli Kilise, Taş Köprü ve Tepebağ Eski Adana Evleri görülmelidir. Ayrıca şehir
      merkezi dışındaki Anavarza, Şar ve Misis Ören Yerleri, Ağyatan ve Akyatan Kuş Cennetleri görülebilir.


      Adana'dan Ne Alınır?

      Eski çarşılar gezilebilir, buradan meşhur Karatepe kilimleri alınabilir.


      Adana Yöresine Ait Tatlar

      Adana kebabı mutlaka yenmeli, şalgam suyu ve aşlama (meyan kökünden yapılmaktadır.) içilmelidir. Bici Bici'nin
      tadına bakılmalıdır. Ayrıca halka tatlı yenmelidir.
      Adana yöresinin zengin bir mutfağı vardır. Yörenin kendine has ünlü yemeği “Adana Kebabı “ dır. Yanında bol
      yeşillik ve soğan salatası ile yenir, şalgam suyu ve ayran içilir.
      Yörenin diğer ünlü yemekleri İçli Köfte, Cartlak Kebabı, Çiğ Köfte, Humus, Analı kızlı, Sıkma, Şırdan, Mumbar,
      Etli Kömbe, Dul Avrat Çorbası, Yüksük çorbası vs.


      Adana Coğrafi Bilgileri

      Toros daglarinin güneyinde yer alan Adana, Çukurova'da Seyhan Nehri üzerinde kurulmustur. Akdeniz’e yaklasik 160
      km'lik kiyisi bulunur. Adana; Avrupa'yi, Asya'ya baglayan önemli ulasim yolları üzerinde bulunmaktadır.

      Doğusunda Osmaniye’ye 90 km, Hatay’a 190km, Kuzeydogusunda K.Maras’a 187 km, Kuzeyinde Kayseri’ye 332 km,
      Kuzeybatisinda Nigde’ye 205 km, Batisinda Içel’e 70 km. uzaklıktadır.
    </p>

    <p>
      Adıyaman'a ne zaman gidilir, Adıyaman'ın nüfusu, Adıyaman'ın coğrafi bilgileri, Adıyaman'daki oteller, taksi
      telefonları ve Adıyaman hakkındaki yorumları inceleyebilirsiniz. Adıyaman hakkında öğrenmek istediklerinizi bu
      sayfada bulabilirsiniz.


      Yüzölçümü: 167.921 km²

      Nüfusu: 593.954 (2011)
      Adıyaman Ne Zaman Gezilir

      Adıyaman denildiğinde akıllarda ilk canlanan, Nemrut Dağında Güneşin doğuşunu ve batışını izlemek olacaktır.
      Tepenin aşırı soğuk ve rüzgarlı olduğunu hesaba katarsak gidilebilecek en iyi mevsim ilkbahar ve yaz aylarıdır.

      Adıyaman Gezilecek Yerler

      Adıyaman’da görülmesi gereken yerlerin başında kuşkusuz Nemrut Dağı gelmektedir. Doğu ve Batı Medeniyetlerinin,
      2150 m. yükseklikte bir piramitteki muhteşem kesişme noktasıdır. Dünyanın sekizinci harikası olarak görülen
      Nemrut, yüksekliği on metreyi bulan büyüleyici heykelleri, metrelerce uzunluktaki kitabeleriyle görsel bir şölen
      sunuyor misafirlerine. Ayrıca UNESCO Dünya Kültür Mirasında da yer almaktadır.

      Nemrut Dağı, üzerinde barındırdığı dev heykellerin ve anıt mezarın yanı sıra, dünyanın en muhteşem gün doğumu ve
      gün batışının seyredilebildiği yer olmasıyla da ilgi çekmektedir. Her yıl binlerce insan gün doğumu ve gün
      batışını seyretmek için Nemrut Dağına gelmektedir.

      Görülmesi gereken yerlerden, Adıyaman merkezde bulunan, Adıyaman Müzesi’nde yaklaşık 22.000 eser sergilenmektedir.
      Müzede; Paleolitik, Neolitik, Kalkolitik, Tunç Çağı, Demir Çağı, Helenistik, Roma, Bizans, İslami, Selçuklu ve
      Osmanlı dönemlerine ait çeşitli eserler sergilenmektedir. Etnoğrafik eser salonunda ise yörede derlenen kilim,
      halı ve cicim gibi el dokumaları, erkek ve kadın giysileri, bakır ve gümüş eşyalar sergilenmektedir.

      Kommagene Uygarlığı eserleri görülmeye değerdir.


      Adıyaman'dan Ne Alınır?

      Yörede dokunan halı, kilim, cicim ve heybe ve Nemrut heykelleri almadan şehirden ayrılmayınız.


      Adıyaman Yöresine Ait Tatlar

      Atatürk Barajı Kahta Sahilindeki lokantalarda balık ziyafeti çekebilirsiniz.
      Adıyaman’ın yöresel yemekleri; İçli Köfte, Çiğ köfte, Basalla (Ekşili Köfte), Cılbır, Mercimekli Köfte,
      Yapıştırma, Hıtap ve Pestil olarak sıralayabiliriz. İl merkezinde yöresel yemeklerin bulunduğu lokantalar
      mevcuttur.

      Adıyaman Coğrafi Bilgileri

      Adıyaman Türkiye’nin Güneydoğu Anadolu bölgesinde yer alan bir ildir. Rakımı 669 metredir. Doğusunda Diyarbakır
      (205), güneyinde Şanlıurfa (109) ve Gaziantep (150), batısında Kahramanmaraş (164), kuzeyinde ise Malatya (185)
      İlleri ile çevrilidir.
    </p>

  </div>
  <!-- end .entry-content -->

  <div class="box-footer">

    <div class="align-left">

      <ul>
        <li><strong>Category:</strong>&nbsp;</li>
        <li><a href="#">United States</a> <span class="separator">,</span>&nbsp;</li>
        <li><a href="#">Texas</a></li>
      </ul>

    </div>
    <!-- end .align-left -->

    <div class="align-right">

      <ul>
        <li><strong>Tags:</strong>&nbsp;</li>
        <li><a href="#">United States</a> <span class="separator">,</span>&nbsp;</li>
        <li><a href="#">Texas</a> <span class="separator">,</span>&nbsp;</li>
        <li><a href="#">Trips</a> <span class="separator">,</span>&nbsp;</li>
        <li><a href="#">Private</a> <span class="separator">,</span>&nbsp;</li>
        <li><a href="#">Abandoned</a> <span class="separator">,</span>&nbsp;</li>
        <li><a href="#">Ranch</a> <span class="separator">,</span>&nbsp;</li>
        <li><a href="#">Old car</a> <span class="separator">,</span>&nbsp;</li>
        <li><a href="#">Town</a></li>
      </ul>

    </div>
    <!-- end .align-right -->

  </div>
  <!-- end .box-footer -->

  <div class="box-footer">

    <div class="align-left">

      <strong>Share this via:</strong>

    </div>
    <!-- end .align-left -->

    <div class="align-right">

      <ul class="social-links">
        <li><a href="#"><img src="/assets/icons/social-icons/digg.png" alt="Digg"/></a></li>
        <li><a href="#"><img src="/assets/icons/social-icons/facebook.png" alt="Facebook"/></a></li>
        <li><a href="#"><img src="/assets/icons/social-icons/flickr.png" alt="Flickr"/></a></li>
        <li><a href="#"><img src="/assets/icons/social-icons/twitter.png" alt="Twittew"/></a></li>
        <li><a href="#"><img src="/assets/icons/social-icons/delicious.png" alt="Delicious"/></a></li>
        <li><a href="#"><img src="/assets/icons/social-icons/tumblr.png" alt="Tumblr"/></a></li>
      </ul>

    </div>
    <!-- end .align-right -->

  </div>
  <!-- end .box-footer -->

</div><!-- end .entry -->

<div class="author-bio">
  <img src="http://1.gravatar.com/avatar/5d4da935e9e04a8e72fa7b216350bced?s=100" width="100" height="100" alt="Gravatar" class="avatar"/>
  <h4>About Smuliii</h4>

  <p>Afyonkarahisar Ne Zaman Gezilir

    Afyonkarahisar Türkiye’nin kış ayları oldukça sert geçen illerinden biridir. Genellikle Afyonkarahisar’a kaplıca
    turizmi için gidilir. Kaplıcaların da belirli bir mevsimi olmadığı için her mevsim gidilebilir; ancak
    Afyonkarahisar’ın kış aylarındaki olumsuz hava koşulları ve ulaşımda yaşanacak aksamalar nedeniyle kış aylarından
    çok, yaz aylarında gidilmesi tavsiye edilir.

    Afyonkarahisar Gezilecek Yerler</p>
  <a href="#" class="button">Read More...</a>
</div>

<div id="comments">

  <div class="box-header">

    <div class="align-left">
      <span class="comments-count"><em>16</em></span> <h6>Comments</h6>&emsp;<a href="#">Trackbacks/Pingbacks</a>
    </div>

    <div class="align-right">
      <strong><a href="#respond">+ADD NEW COMMENT</a></strong>
    </div>

  </div>

  <ol class="comments-list">

    <li class="comment first">

      <div class="comment-avatar">

        <img src="http://1.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" width="60" height="60" alt="Gravatar" class="avatar"/>

      </div>
      <!-- .comment-avatar -->

      <div class="comment-body">

        <div class="comment-meta">

          <a href="#">YCB</a>, <span class="date">March 14. 2010</span>

        </div>
        <!-- .comment-meta -->

        <p>Ağrı Ne Zaman Gezilir

          Ağrı’nın coğrafi konumu ve yükseltisinden dolayı kış ayları oldukça soğuk geçer. Ağrı’da gezilecek en güzel
          mevsim ilkbahar ve yaz aylarıdır.


          Devamı için: Ağrı hakkında bilmek istedikleriniz .</p>

        <ul class="comment-links">
          <li><a href="#">Send to a Friend</a> <span class="separator">|</span></li>
          <li><a href="#">Share this Comment</a> <span class="separator">|</span></li>
          <li><a href="#">Reply</a></li>
        </ul>
        <!-- .comment-links -->

      </div>
      <!-- .comment-body -->

    </li>
    <!-- .comment -->

    <li class="comment">

      <div class="comment-avatar">

        <img src="http://1.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" width="60" height="60" alt="Gravatar" class="avatar"/>

      </div>
      <!-- .comment-avatar -->

      <div class="comment-body">

        <div class="comment-meta">

          <a href="#">YCB</a>, <span class="date">March 14. 2010</span>

        </div>
        <!-- .comment-meta -->

        <p>BALIKESIR

          Balıkesir'e ne zaman gidilir, Balıkesir'in nüfusu, Balıkesir'in coğrafi bilgileri, Balıkesir'deki oteller, taksi telefonları ve Balıkesir hakkındaki yorumları inceleyebilirsiniz. Balıkesir hakkında öğrenmek istediklerinizi bu sayfada bulabilirsiniz.






          Yüzölçümü:
          14.292 km²

          Nüfusu:
          1.152.323
          (2011)
          Balıkesir Ne Zaman Gezilir

          Balıkesir'e ilkbahar ve yaz aylarında gitmeniz tavsiyemizdir.


           </p>

        <ul class="comment-links">
          <li><a href="#">Send to a Friend</a> <span class="separator">|</span></li>
          <li><a href="#">Share this Comment</a> <span class="separator">|</span></li>
          <li><a href="#">Reply</a></li>
        </ul>
        <!-- .comment-links -->

      </div>
      <!-- .comment-body -->

    </li>
    <!-- .comment -->

    <li class="comment">

      <div class="comment-avatar">

        <img src="http://1.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" width="60" height="60" alt="Gravatar" class="avatar"/>

      </div>
      <!-- .comment-avatar -->

      <div class="comment-body">

        <div class="comment-meta">

          <a href="#">YCB</a>, <span class="date">March 14. 2010</span>

        </div>
        <!-- .comment-meta -->

        <p>Burdur Arkeoloji Müzesinde sergilenen Frig, Helenistik, Roma, Bizans, Selçuklu ile Osmanlı Dönemlerine ait heykeller, steller lahit ve lahit kapakları, yazıt parçaları sergilenmektedir.

          Ayrıca şehir merkezinde bulunan Çelikbaşlar Konağı, Baki Bey Konağı, Mısırlılar Evi, Pirişbaşlar Evi, Çetinerler Evi görülmeye değer güzellikteki yapıtlardır.


          Devamı için: Burdur hakkında bilmek istedikleriniz .</p>

        <ul class="comment-links">
          <li><a href="#">Send to a Friend</a> <span class="separator">|</span></li>
          <li><a href="#">Share this Comment</a> <span class="separator">|</span></li>
          <li><a href="#">Reply</a></li>
        </ul>
        <!-- .comment-links -->

      </div>
      <!-- .comment-body -->

    </li>
    <!-- .comment -->

  </ol>

</div><!-- #comments -->

<ul class="pagination">
  <li class="prev"><a href="#">Prev</a></li>
  <li><a href="#">1</a></li>
  <li class="active"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li class="next"><a href="#">Next</a></li>
</ul>

<div id="respond" class="box">

  <div class="box-header">

    <h6 class="align-left">Leave a <span>Comment</span></h6>

    <p class="align-right">
      <strong><a href="#">Login to send reply</a></strong>
    </p>

  </div>

  <form method="post" action="" id="comment-form" class="form clearfix">

    <div class="input_block">

      <p>
        <label for="name">Name <span>(Required)</span></label>
        <input type="text" name="name" id="name" class="input" value="" placeholder="Your full name here">
      </p>

      <p>
        <label for="email">Email <span>(Required)</span></label>
        <input type="text" name="email" id="email" class="input" value="" placeholder="Email address here">
      </p>

      <p>
        <label for="website">Website <span>(Not Required)</span></label>
        <input type="text" name="website" id="website" class="input" value="" placeholder="Website URL here">
      </p>

    </div>

    <div class="textarea_block">

      <p>
        <label for="comment">Comments <span>(Use valid HTML tags)</span></label>
        <textarea id="comment" rows="10" cols="45" class="input"></textarea>
      </p>

      <p>
        <input type="submit" name="submit" value="Submit" class="submit"/>
      </p>

    </div>

  </form>

</div><!-- end #respond -->